<div *ngIf="selectedRole==''">
  <br/><br/><br/><br/><br/>
  <div class="row col-12">
    <div class="col-4">&nbsp;</div>
    <div class="col-2"><button (click)='onSelect("ADMIN")'>Admin</button>&nbsp;</div>
    <div class="col-2"><button (click)='onSelect("USER")'>User</button></div>
    <div class="col-4">&nbsp;</div>
  </div>
</div>

<div *ngIf="selectedRole=='ADMIN'">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="padding: 1%;">
    <li style="width: 15%; font-size: large;">
      <b>Flight Booking</b>
    </li>
    <li [ngbNavItem]="1" style="width: 15%;">
      <a routerLink="/manageschedules">Manage Schedules</a>
    </li>
    <li [ngbNavItem]="2" style="width: 15%;">
      <a routerLink="/manageairlines">Manage Airlines</a>
    </li>
    <li [ngbNavItem]="3" style="width: 55%; text-align: right;">
      <button (click)='onSelect("")'> <a routerLink="/">Log out</a></button>
    </li>
  </ul>
</div>

<div *ngIf="selectedRole=='USER'">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" style="padding: 1%;">
    <li style="width: 15%; font-size: large;">
      <b>Flight Booking</b>
    </li>
    <li [ngbNavItem]="1" style="width: 10%;">
      <a routerLink="/bookflight">Book Flight</a>
    </li>
    <li [ngbNavItem]="2" style="width: 15%;">
      <a routerLink="/managebookings">Manage Bookings</a>
    </li>
    <li [ngbNavItem]="2" style="width: 15%;">
      <a routerLink="/bookinghistory">Booking History</a>
    </li>
    <li [ngbNavItem]="3" style="width: 45%; text-align: right;">
      <button (click)='onSelect("")'> <a routerLink="/">Log out</a></button>
    </li>
  </ul>
  
</div>

<router-outlet></router-outlet>