<mat-toolbar>
  <span>Flight Booking</span>
  <mat-nav-list class="list-horizontal">
    <mat-list-item *ngIf="globals.role=='ADMIN' && globals.validated">
     <button mat-flat-button style="background: #e1eedd;" (click)="navigate('/manageschedules')">Manage Schedules</button>
   </mat-list-item>
    <mat-list-item *ngIf="globals.role=='ADMIN' && globals.validated">
     <button mat-flat-button style="background: #e1eedd;" (click)="navigate('/manageairlines')">Manage Airlines</button>
   </mat-list-item>
    <mat-list-item *ngIf="globals.role=='USER' && globals.validated">
     <button mat-flat-button style="background: #e1eedd;" (click)="navigate('/bookflight')">Book Flight</button>
   </mat-list-item>
   <mat-list-item *ngIf="globals.role=='USER' && globals.validated">
    <button mat-flat-button style="background: #e1eedd;" (click)="navigate('/managebookings')">Manage Bookings</button>
   </mat-list-item>
   <mat-list-item *ngIf="globals.role=='USER' && globals.validated">
    <button mat-flat-button style="background: #e1eedd;" (click)="navigate('/bookinghistory')">Booking History</button>
  </mat-list-item>  
</mat-nav-list>
<span class="example-spacer"></span>
<button *ngIf="globals.validated" mat-flat-button style="background: #e1eedd;" (click)="logOut()">Log out</button>
</mat-toolbar>

<div *ngIf="globals.role==''">
  <div class="container">
  <div class="centerme">
    <mat-card>
        <div class="example-form">
          <div class="example-full-width">
            <button mat-raised-button color="primary" (click)='onSelect("ADMIN")'>Admin</button>&nbsp;</div>
          <br/><br/><br/>
          <div class="example-full-width">
            <button mat-raised-button color="primary" (click)='onSelect("USER")'>User</button></div>
        </div>
    </mat-card>
    </div>
  </div>  
</div>

<router-outlet></router-outlet>