<br/>
<h3 style="text-align: center;">Manage Bookings</h3>
<div class="container" *ngIf="ticketBookings && ticketBookings.length > 0">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>PNR Number</th>
                <th>Journey Date</th>
                <th>Airline</th>
                <th>Trip</th>
                <th>Price</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of ticketBookings">
                <td>{{ticket.pnrNumber}}</td>
                <td>{{ticket.startDate}}</td>
                <td>{{ticket.onwardAirline}}</td>
                <td>{{ticket.trip}}</td>
                <td>{{ticket.cost}}</td>
                <td><mat-icon (click)="cancelTicket(ticket.pnrNumber)">delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>
