<br/>
        <div class="container">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>Indigo</td>
                        <td>Logo</td>
                        <td>Rs 3000</td>
                        <td>25/05/2021</td>
                        <td><button>View</button></td>
                        <td><button>Download</button></td>
                        <td><button>Cancel</button></td>
                    </tr>
                    <tr>
                        <td>GoAir</td>
                        <td>Logo</td>
                        <td>Rs 3500</td>
                        <td>26/05/2021</td>
                        <td><button>View</button></td>
                        <td><button>Download</button></td>
                        <td><button>Cancel</button></td>
                    </tr>
                    <tr>
                        <td>Indigo</td>
                        <td>Logo</td>
                        <td>Rs 4000</td>
                        <td>27/05/2021</td>
                        <td><button>View</button></td>
                        <td><button>Download</button></td>
                        <td><button>Cancel</button></td>
                    </tr>
                </tbody>
            </table>
        </div>