<div *ngIf="!search">
  <br/>
  <div class="row col-12">
      <div class="col-4">&nbsp;</div>
      <div class="col-2">Select Airline: </div>
      <div class="col-2">
        <mat-form-field>
            <mat-select name="airline" [(value)]="selectedAirline" placeholder="Select">
              <mat-option *ngFor="let airline of airlines" [value]="airline">
                {{airline}}
              </mat-option>
            </mat-select>
          </mat-form-field>      
      </div>
      <div class="col-4">&nbsp;</div>
  </div>
  <br/>
  <div class="row col-12">
      <div class="col-4">&nbsp;</div>
      <div class="col-2">Flight Number: </div>
      <div class="col-2"><input type="number" [(ngModel)]="flightNumber"></div>
      <div class="col-4">&nbsp;</div>
  </div>
  <br/>
  <div class="row col-12">
      <div class="col-4">&nbsp;</div>
      <div class="col-2">Instrument Used: </div>
      <div class="col-2"><input type="text" [(ngModel)]="instrument">    </div>
      <div class="col-4">&nbsp;</div>
  </div>
  <br/>
  
  <div class="row col-12">
    <div class="col-5">&nbsp;</div>
    <div class="col-2"><button (click)='searchResults()'>Search</button></div>
    <div class="col-5">&nbsp;</div>
</div>
  <br/><br/>

</div>
<div *ngIf="search">
    <br/>
<h3 style="text-align: center;">Search Results</h3>
    <div class="container" *ngIf="airlineSchedules && airlineSchedules.length > 0">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Airline</th>
                <th>From</th>
                <th>To</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let air of airlineSchedules">
                <td>{{air.airline}}</td>
                <td>{{air.fromPlace}}</td>
                <td>{{air.toPlace}}</td>
                <td>{{air.startDate}} &nbsp;{{air.startTime}}</td>
                <td>{{air.endDate}} &nbsp;{{air.endTime}}</td>
                <td>{{air.cost}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row col-12">
    <div class="col-5">&nbsp;</div>
    <div class="col-2"><button (click)='clearSearch()'>Clear Search</button></div>
    <div class="col-5">&nbsp;</div>
</div>

</div>
